@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: white;
    box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.055);
    justify-content: center;
    align-items: center;
    position:fixed;
    width: 100%;
}

.logo{
    flex:20%;
    margin-left:10%;
     /* border:1px solid red;  */
    text-align: left;
}

.logo h1{
    font-family: 'Lobster', cursive;
    color:#180F4A;
    font-size:34px;
}

.menu{
    flex:70%;
   /* border:1px solid green;*/
    text-align:right;
    padding:20px;
}

.menu a{
    color:#180F4A;
    text-decoration: none;
    font-size:20px;
    padding:20px 16px; 
}

.menu a:hover{
    color:#FF2978;
    border-top:4px solid #180F4A;
}

#botao{
    background: #180F4A;
    padding: 10px 25px;
    color:white;
    border-radius:5px;
    margin-right:10%;
    margin-left:5%;
}

#botao:hover{
    border:none;
    background: #FF2978;
}