@charset "UTF-8";

/* Smartphones (600px para baixo) */
@media screen and (max-width: 600px) {

    .navbar {
        position: absolute;
    }

    .menu {
        display: none;
    }

    .menu-hamb {
        display: flex;
    }
    .hamburguer {
        display: flex;
    }

    #Image{
        height: 500px;
    }
    .text h1 {
        font-size: 20px;
        position: relative;
        bottom: 220px;
    }
    .text h3 {
        font-size: 8px;
        bottom: 230px;
        right: -10px;
    }
    
    #p-image{
        position: relative;
        font-size: 10px;
        width: 300px;
        bottom: 180px;
    }

    .textImage {
        width: 10%;
        left: -90px;
        font-size: 15px;
    }

    .Materiais div {
        width: 100%;
    }

    .Text-1 {
        order: -1;
    }

    .Card-1 {
        justify-content: center;
        align-items: center;
    }

    .Card-2 {
        justify-content: center;
        align-items: center;
    }

    .Card-2 div {
        bottom: 0;
        right: 0;
    }

    .Text-1 {
        justify-content: center;
    }

    .Text-1 p {
        padding-left: 0;
    }

    .Text-2 {
        justify-content: center;
    }

    .Text-2 p {
        margin-bottom: 0;
        padding-right: 0;
    }

    .Text p {
        font-size: 10px;
    }

    .Text h1 {
        font-size: 25px;
    }
    .Card-Product {
        height: 60px;
        width: 60px;
        bottom: 50px;
    }
    

     .footer-middle hr {
        position: relative;
        left: 35px;
    }
    
    #Card-Image img:hover{
        display: none;
    }

    .Card-1 div p {
        margin: 0px 15px;
        padding-top: 35px;
    }

    .Card-2 div p {
        margin: 0px 15px;
        margin-top: 30px;
    }


}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media screen and (min-width: 600px) and (max-width: 768px) {

    .navbar {
        position: absolute;
    }

    .menu {
        display: none;
    }

    .menu-hamb {
        display: flex;
        z-index: 10;
    }

    .hamburguer {
        display: flex;
    }


    .Materiais div {
        width: 100%;
    }

    .Text-1 {
        order: -1;
    }

    .Card-1 {
        justify-content: center;
        align-items: center;
    }

    .Card-2 {
        justify-content: center;
        align-items: center;
    }


    .Card-2 div {
        bottom: 0;
        right: 0;
    }

    .Text-1 {
        justify-content: center;
    }

    .Text-1 p {
        padding-left: 0;
    }

    .Text-2 {
        justify-content: center;
    }

    .Text-2 p {
        margin-bottom: 0;
        padding-right: 0;
    }

    .Card-Product {
        height: 100px;
        width: 100px;
    }


     .footer-middle hr {
        position: relative;
        left: 20px;
    }
    #Card-Image img:hover{
        display: none;
    }

}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media screen and (min-width: 768px) and (max-width: 992px) {

    .navbar {
        position: absolute;
    }
    
    .menu {
        display: none;
    }

    .hamburguer {
        display: flex;
    }

    .Materiais div {
        width: 100%;
    }

    .Text-1 {
        order: -1;
    }

    .Card-1 {
        justify-content: center;
        align-items: center;
    }

    .Card-2 {
        justify-content: center;
        align-items: center;
    }

    .Card-2 div {
        bottom: 0;
        right: 0;
    }

    .Text-1 {
        justify-content: center;
    }

    .Text-1 p {
        padding-left: 0;
    }

    .Text-2 {
        justify-content: center;
    }

    .Text-2 p {
        margin-bottom: 0;
        padding-right: 0;
    }
    
    .Card-Product {
        height: 150px;
        width: 150px;
    }

    .footer-middle hr {
        position: relative;
        left: 15px;
    }

    #Card-Image img:hover{
        display: none;
    }

}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media screen and (min-width: 992px) and (max-width:1200px) {

    .Materiais div {
        width: 50%;
    }
    
    #Card-Image img:hover{
        display: none;
    }
    #Card-Image{
        justify-content: center;
    }

}

@media screen and (max-width: 993px) {
    
    .pilares {
        flex-direction: column;
        height: 60%;
        
    }
    
    .box-triangulo {
        width: 600px;
        padding: 10px 0;
    }

    .triangulo {
        width: 230px;
    }

    .titulo-triangulo {
        margin-top: 40px;
    }
}