@charset "UT-8";

:root {
    --primary-color: rgb(54, 54, 54);
    --seconde-color: rgb(0, 148, 255);

}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.navbar {
    z-index: 2;
    display: flex;
    flex-flow: row;
    height: 100px;
    background: rgb(54, 54, 54);
    box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.055);
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo {
    flex: 20%;
    margin-left: 7%;
    /* border:1px solid red;  */
    text-align: left;
}

.logo img {
    height: 70px;
}

.menu {
    flex: 70%;
    /* border:1px solid green;*/
    text-align: right;
    padding: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #0094ffff;
    ;
    border-top: 4px solid #0094ffff;
}

#botao {
    background: #0094ffff;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background: rgb(0, 89, 255);
}

#Image {
    display: flex;
    position: relative;
    background-image: url("../img/test.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    transition: background-image 1s ease-in-out;
}

.textImage {
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 1;
}

.textImage .text {
    position: relative;
    margin-left: 100px;
}


.text h1 {
    font-size: 70px;
}

.text h3 {
    position: relative;
    bottom: 45px;
    right: -5px;
    color: var(--seconde-color);
}

.text p {
    line-height: 2;
    width: 500px;
}


.Materiais {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.Materiais div {
    height: 300px;
    width: 50%;
}

.Card-1 {
    display: flex;
    justify-content: right;
    align-items: end;
}

.Card-2 {
    z-index: 1;
    display: flex;
}

.Card-2 div {
    position: relative;
    bottom: 50px;
    right: 50px;
}

.Text-1 {
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Text-2 {
    color: black;
    display: flex;
    justify-content: right;
    align-items: center;
}

.Materiais-Title {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    display: flex;
    width: 100%;
    height: 140px;
}

.Materiais-Title h1 {
    font-size: 30px;
    color: var(--seconde-color);
}


#Card-Image {
    text-align: center;
    overflow: hidden;
    display: flex;
    border-radius: 30px;
    border: 7px solid white;
    background: linear-gradient(to top, rgb(0, 81, 255), rgb(0, 132, 255));
    height: 80%;
    width: 60%;
    box-shadow: 0 13px 23px rgba(0, 0, 0, 0.24);
}

.Text-2 p {
    margin-bottom: 180px;
    padding-right: 13%;
    font-size: 50px;
    text-align: center;
    position: relative;
}

.Text-1 p {
    padding-left: 50px;
    text-align: center;
    font-size: 50px;
}

.Materiais b {
    color: var(--seconde-color);
}

.Title {
    border-top: 7px solid var(--seconde-color);
}

.Title p {
    position: relative;
    bottom: 10px;
    color: gray;
    text-align: center;
}

.Serviços {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    max-height: auto;
    width: 100%;
    background:linear-gradient(to top , rgb(12, 12, 12),rgb(32, 32, 32));
}

.Box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 400px;
    height: 450px;
    transition: width 0.5s ease, height 0.5s ease;
}

.Box-Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 5%;
    color: var(--seconde-color);
}
.Box h1{
    position: relative;
    top: 33px;
}
.Box p{
    color: white;
}

.Box-image {
    border-radius: 35px;
    border: 4px solid white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: 70%; 
}

.Box:hover {
    width: 430px;
    height: 480px;
}

.Box-image img{
    opacity: 0.5;
    width: 100%;
    height: auto;
    transition: opacity  ease 0.4s;
}
.Box-image img:hover{
    opacity: 1;
}

.Serviços-Oferecidos{
    display: flex;
    flex-flow: row wrap;
    min-height: 900px;
    height: auto;
    background-color: gray ;
}

.Image{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 500px;
    width: 50%;
}

.Text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(44, 44, 44);
    height: 500px;
    width: 50%;
}
.Text h1{
    font-size: 40px;
}
.Text P{
    font-size: 20px;
    letter-spacing: 2px;
}

.pilares {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 100%;
    border: 3px solid rgb(75, 187, 10);
    background-color: white;
    position: relative;
}

.pilares .triangulo {
    width: 12%;
    aspect-ratio: 1;
    transform: rotate(45deg);
    transition: transform 1s ease-in-out;
    background-color: #0094ffff;
    border-radius: 60px;
    border: 7px solid white;
    box-shadow: 0 13px 23px rgba(0, 0, 0, 0.24);
}

.triangulo:hover {
    transform: none;
    transition: transform 1s ease-in-out;
}

.triangulo:hover img {
    display: none;
}

.triangulo:hover h2{
    display: block;
    color:  rgb(54, 54, 54);
    text-align: center;
}

.triangulo:hover p{
    display: block;
    color:  rgb(54, 54, 54);
    text-align: center;
    font-size: 20px;
}

.triangulo img {
    transform:rotate(-45deg);

}

.triangulo h2, .triangulo p{
    display: none;
}

#ic1 {
    position: relative;
    top: 35px;
    left: 15px;
}

#ic2 {
    position: relative;
    top: 30px;
    left: 30px;
}

#ic3 {
    position: relative;
    top: 20px;
    left: 35px;
}

.titulo-triangulo {
    z-index: 100;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


footer {
    background: rgb(54, 54, 54);
    border: 3px solid red;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 80px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}
