@charset "UT-8";

:root {
    --primary-color: rgb(54, 54, 54);
    --seconde-color: rgb(0, 148, 255);

}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.navbar {
    z-index: 10;
    display: flex;
    flex-flow: row;
    height: 100px;
    background: rgb(37, 37, 37);
    box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.055);
    /* border: 1px solid rgb(234, 238, 14); */
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo {
    flex: 20%;
    margin-left: 7%;
    /* border:1px solid red;  */
    text-align: left;
}

.logo img {
    height: 70px;
}

.menu {
    flex: 70%;
    /* border:1px solid green;*/
    text-align: right;
    padding: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
    cursor: default;
}

.menu a:hover {
    color: #0094ffff;
    ;
    border-top: 4px solid #0094ffff;
}

#botao {
    background: #0094ffff;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background: rgb(0, 89, 255);
}

.hamburguer {
    width: 50px;
    margin-right: 10px;
    /* border: 1px solid green; */
    display: none;
}

.hamburguer:hover {
    background-color: rgba(27, 27, 27, 0.178);
}

.menu-hamb {
    display: none;
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    color: white;
    width: 100vw;
    height: 278px;
    background-color: rgb(37, 37, 37);
    text-align: center;
    /* border: 1px solid green; */

}

.menu-hamb a {
    text-decoration: none;
    color: white;
    padding-bottom: 25px;
    padding-top: 25px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.308);
    cursor: default;
    cursor: pointer;
    /* border: 1px solid green; */
}

#FC-hamb {
    border-bottom: 1px solid white;
    cursor: pointer;
}

#Image {
    display: flex;
    position: relative;
    background-image: url("../img/test.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
    transition: background-image 1s ease-in-out;
    overflow: hidden;
    cursor: default;
}

.textImage {
    z-index: 5;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 1000px;
    color: white;
}

.textImage .text {
    position: relative;
    margin-left: 100px;
}


.text h1 {
    font-size: 70px;
}

.text h3 {
    position: relative;
    bottom: 45px;
    right: -5px;
    color: var(--seconde-color);
}

.text p {
    line-height: 2;
    width: 500px;
}

.overlay {
    z-index: 2;
    height: 900px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.692);
}


.Materiais {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.Materiais div {
    height: 300px;
    width: 50%;
}

.Card-1 {
    display: flex;
    justify-content: right;
    align-items: end;
}

.Card-2 {
    z-index: 1;
    display: flex;
}

.Card-2 div {
    position: relative;
    bottom: 50px;
    right: 50px;
}

.Text-1 {
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: default;
}

.Text-2 {
    color: black;
    display: flex;
    justify-content: right;
    align-items: center;
    cursor: default;
}

.Materiais-Title {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    display: flex;
    width: 100%;
    height: 140px;
    cursor: default;
}

.Materiais-Title h1 {
    font-size: 30px;
    color: var(--seconde-color);
}


#Card-Image {
    text-align: center;
    overflow: hidden;
    display: flex;
    border-radius: 30px;
    border: 7px solid white;
    background: linear-gradient(to top, rgb(0, 81, 255), rgb(0, 132, 255));
    height: 80%;
    width: 60%;
    box-shadow: 0 13px 23px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

#Card-Image img {
    width: 225px;
}

.Card-2 > #Card-Image > div > p {
    padding-top: 10px;
}

.Text-2 p {
    margin-bottom: 180px;
    padding-right: 13%;
    font-size: 40px;
    text-align: center;
    position: relative;
}

.Text-1 p {
    padding-left: 50px;
    text-align: center;
    font-size: 40px;
}

.Materiais b {
    color: var(--seconde-color);
}

.Title {
    border-top: 7px solid var(--seconde-color);
}

.Title p {
    position: relative;
    bottom: 10px;
    color: gray;
    text-align: center;
}

.Serviços {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    max-height: auto;
    width: 100%;
    background:linear-gradient(to top , rgb(12, 12, 12),rgb(32, 32, 32));
}

.Box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 400px;
    height: 450px;
    transition: width 0.5s ease, height 0.5s ease;
}

.Box-Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 5%;
    color: var(--seconde-color);
    cursor: default;
}
.Box h1{
    position: relative;
    top: 33px;
}
.Box p{
    color: white;
}

.Box-image {
    border-radius: 35px;
    border: 4px solid white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: 70%; 
    cursor: pointer;
}

.Box:hover {
    width: 430px;
    height: 480px;
}

.Box-image img{
    opacity: 0.5;
    width: 100%;
    height: auto;
    transition: opacity  ease 0.4s;
}
.Box-image img:hover{
    opacity: 1;
}

.Serviços-Oferecidos{
    display: flex;
    flex-flow: row wrap;
    min-height: 900px;
    height: auto;
    background-color: gray ;
}

.Image{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 500px;
    width: 50%;
}

.Text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(44, 44, 44);
    height: 500px;
    width: 50%;
}
.Text h1{
    font-size: 40px;
}
.Text P{
    font-size: 20px;
    letter-spacing: 2px;
}

.pilares {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 99%;
    /* border: 3px solid rgb(75, 187, 10); */
    background-color: white;
    position: relative;
}

.box-triangulo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 100vw;
    height: 450px;
    text-align: center;
    /* border: 1px solid blue; */
}

.triangulo {
    width: 210px;
    aspect-ratio: 1;
    transform: rotate(45deg);
    transition: transform 1s ease-in-out;
    background: linear-gradient(to top, rgb(20, 90, 241), rgb(0, 132, 255));
    border-radius: 60px;
    border: 7px solid white;
    box-shadow: 0 13px 23px rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    cursor: pointer;
}

.triangulo:hover {
    transform: none;
    transition: transform 1s ease-in-out;
    width: 300px;
    border-radius: 60px;
}

.triangulo:hover ~ .titulo-triangulo {
    display: none;
}

.triangulo:hover img {
    display: none;
}

.triangulo:hover p{
    display: block;
    color:  rgb(255, 255, 255);
    text-align: center;
    font-size: 1em;
    letter-spacing: 2;
    padding: 15px 25px;
    line-height: 25px;
}

.triangulo img {
    transform:rotate(-45deg);
    width: 140px;

}

#ic1 {
    width: 120px;
    margin-right: 20px;
}

.triangulo h2, .triangulo p{
    display: none;
}


.titulo-triangulo {
    /* border: 1px solid green; */
    margin-top: 30px;
    width: 120px;
    height: 50px;
    color: rgb(83, 83, 83);
    cursor: default;
}

 #tt1 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(54, 54, 54);
 }

 #tt2 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(54, 54, 54);
 }

 #tt3 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(54, 54, 54);
 }

footer {
    background:linear-gradient(to top , rgb(27, 27, 27),rgb(32, 32, 32));
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 190px;
}

.footer-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-left,
.footer-right {
    width: 40%;
}

.footer-left {
    padding-right: 15px;
}

.footer-left p {
    /* border: 1px solid green; */
    margin: 5px 0;
    margin-left: 20px;
    text-align: start;
    cursor: default;
}

.footer-left a,
.footer-right a {
    /* border: 1px solid green; */
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.footer-left a {
    letter-spacing: 1px;
}

.footer-left a:hover,
.footer-right a:hover {
    text-decoration: underline;
}

.footer-middle {
    width: 20%;
    text-align: center;
    display: flex;
    /* border: 1px solid green; */
}

.footer-middle hr {
    border: none;
    border-left: 2px solid white;
    height: 100px;
    position: relative;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
}

.footer-bottom p {
    border-top: 0.5px solid rgba(255, 255, 255, 0.445);
    color: white;
    margin-top: 15px;
    margin-bottom: 0;
    padding-top: 20px;
    cursor: default;
}